ion-modal {
  --background: rgba(0, 0, 0, 0.75);

  &::part(content) {
    backdrop-filter: blur(6px);
  }

  ion-content {
    --background: transparent;

    --padding-top: 25vh;
    --padding-start: 24px;
    --padding-end: 24px;

    ion-datetime {
      border-radius: 12px;
    }
  }
}
