<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Datetime modal issue
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngFor="let mode of modes">
    <h2>{{ mode }}</h2>
    <ion-button [id]="'open-' + mode + '-modal'">Open {{ mode }} modal</ion-button>
    <ion-modal [trigger]="'open-' + mode + '-modal'">
      <ng-template>
        <ion-content>
          <ion-datetime size="cover" [presentation]="mode" [showDefaultButtons]="true"></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ng-container>
</ion-content>
